.ui-btn
    display: inline-block
    box-sizing: border-box
    
    &.max
        width: 100%
        background: #7b5b50
        color: #fff
        font-size: 18px
        height: 48px
        line-height: @height
        text-align: center
        border-radius: 3px
        &:active
            background: #564038
        &.disable
            background: #dadada
            
    &.general
        border: 1px solid #0076ff
        border-radius: 3px
        color: #0076ff
        font-size: 14px
        padding: 0 4px
        height: 30px
        line-height: @height
        &.disable
            color: #ddd
            border-color: #ddd