.ui-cell
    position: relative
    display: flex
    height: 44px
    line-height: @height
    .ui-label
        width: 80px
    .ui-input
        flex: 1
        border-bottom: 1px solid #dbdbdb
    .iconBtn
        text-align: right
        flex: 1
        span
            display: inline-block
            height: 44px
            line-height: @height
            margin-right: 15px
            font-size: 15px
            .icon
                font-size: 20px
                vertical-align: middle
                margin-top: -4px
    .weui_cell
        padding: 0 !important
        width: 100%
        color: #333
        .text
            border: 0 none