@import "variables"

@font-face
  font-family 'icomoon'
  src url(icomoon-font-path + '/icomoon.ttf?v8mh9p') format('truetype'), url(icomoon-font-path + '/icomoon.woff?v8mh9p') format('woff'), url(icomoon-font-path + '/icomoon.svg?v8mh9p#icomoon') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
  font-family 'icomoon' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-a1
  &:before
    content icon-a1
.icon-a2
  &:before
    content icon-a2
.icon-b1
  &:before
    content icon-b1
.icon-b2
  &:before
    content icon-b2
.icon-c1
  &:before
    content icon-c1
.icon-c2
  &:before
    content icon-c2
.icon-family
  &:before
    content icon-family
.icon-user3
  &:before
    content icon-user3
.icon-bianji
  &:before
    content icon-bianji
.icon-dizhi
  &:before
    content icon-dizhi
.icon-xinxi
  &:before
    content icon-xinxi
.icon-user
  &:before
    content icon-user
.icon-more
  &:before
    content icon-more
.icon-jingli
  &:before
    content icon-jingli
.icon-list
  &:before
    content icon-list
.icon-love
  &:before
    content icon-love
.icon-del
  &:before
    content icon-del
.icon-user2
  &:before
    content icon-user2
.icon-select
  &:before
    content icon-select
.icon-selected
  &:before
    content icon-selected
.icon-xuanze
  &:before
    content icon-xuanze
.icon-xuexi
  &:before
    content icon-xuexi
.icon-hongqi
  &:before
    content icon-hongqi
.icon-back
  &:before
    content icon-back
.icon-right
  &:before
    content icon-right
.icon-inputClose
  &:before
    content icon-inputClose

