icomoon-font-path ?= "fonts"

icon-a1 = "\e912"
icon-a2 = "\e913"
icon-b1 = "\e914"
icon-b2 = "\e915"
icon-c1 = "\e916"
icon-c2 = "\e917"
icon-family = "\e918"
icon-user3 = "\e919"
icon-bianji = "\e903"
icon-dizhi = "\e904"
icon-xinxi = "\e905"
icon-user = "\e906"
icon-more = "\e907"
icon-jingli = "\e908"
icon-list = "\e909"
icon-love = "\e90a"
icon-del = "\e90b"
icon-user2 = "\e90c"
icon-select = "\e90d"
icon-selected = "\e90e"
icon-xuanze = "\e90f"
icon-xuexi = "\e910"
icon-hongqi = "\e911"
icon-back = "\e900"
icon-right = "\e901"
icon-inputClose = "\e902"

