.page-userSpouseList
    height: 100%
    footer
        background: #7b5b50
        color: #fff
        height: 48px
        line-height: @height
        text-align: center
        position: fixed
        bottom: 0
        left: 0
        right: 0
        z-index: 10
        &+.lt-main
            padding-bottom: 66px
    .noData
        background: #fff
        border-top: 1px solid #e0e0e0
        border-bottom: 1px solid #e0e0e0
        margin: 15px 0
        padding: 50px 0
        text-align: center