.page-home
    header
        background: #7b5b50
        color: #fff
        padding: 10px 0
        ul
            width: 200px
            margin: 0 auto
            border: 1px solid #fff
            display: flex
            border-radius: 5px
            li 
                flex: 1
                text-align: center
                height: 30px
                line-height: 30px
                &.on
                    color: #7b5b50
                    background: #fff