.page-userIndex
    background: #f2f4f5

    header
        background: #7b5b50
        color: #fff
        height: 90px
        padding: 0 15px
        display: flex
        box-sizing: border-box
        .avatar
            padding: 20px 10px 0 0
            width: 40px
            height: 40px
            position: relative
            .icon
                top: 25px
                left: 0
                position: absolute
                font-size: 40px
        .info
            padding-top: 20px
            .name
                font-size: 18px
                flex: 1
            .num
                font-size: 14px
        .detail
            font-size: 14px
            flex: 1
            text-align: right
            line-height: 90px
    
    .block
        background: #fff
        border-top: 1px solid #e0e0e0
        border-bottom: 1px solid #e0e0e0
        margin: 15px 0
        &:last-child
            margin-top: 0
        .ui-cell
            &:last-child
                .text
                    border-color: #fff
            .text
                border-bottom: 1px solid #e0e0e0
                font-size: 16px
                flex: 1
            .tag
                width: 48px
                font-size: 20px
                position: relative
                .icon
                    transform: translate(-50%, -50%)
                    top: 50%
                    left: 50%
                    position: absolute
                    color: #a6a6a6
                &.arrow
                    position: absolute
                    height: 100%
                    right: 0
                    color: #cacbcc
                    font-size: 16px
        .logout
            text-align: center
            width: 100%