.page-forget
    padding: 0 25px
    .ui-cell
        display: flex
        position: relative
        height: 40px
        line-height: @height
        padding: 8px
        &:first-child
            padding-top: 40px
        &:last-child
            padding-top: 0
            padding-bottom: 50px
        .ui-label
            width: 80px
        .ui-input
            flex: 1
            border-bottom: 1px solid #dbdbdb
        .ui-btn
            position: absolute
            right: 8px
            top: 1px