.page-homePost
    .imgList
        padding: 15px 0 15px 15px
        background: #fff
        li
            float: left
            width: 50%
            padding: 0 15px 15px 0
            box-sizing: border-box
            img
                float: left