.page-userIndex
    background: #f2f4f5

    .lt-header
        &+.lt-main
            margin: -1px 0 0

    .header
        background: #7b5b50
        color: #fff
        height: 90px
        padding: 0 15px
        display: flex
        box-sizing: border-box
        .avatar
            padding: 20px 10px 0 0
            width: 40px
            height: 40px
            position: relative
            .icon
                top: 25px
                left: 0
                position: absolute
                font-size: 40px
        .info
            padding-top: 20px
            .name
                font-size: 18px
                flex: 1
            .num
                font-size: 14px
        .detail
            font-size: 14px
            flex: 1
            text-align: right
            line-height: 90px
            a
                color: #fff
    
    .ui-block
        .logout
            text-align: center
            width: 100%