.page-userForm
    height: 100%
    .ui-block
        padding-right: 15px
    .ui-cell
        min-height: 44px
        height: auto
    .ui-input
        font-size: 15px
        border: 0 none
        padding-right: 20px
    .icon-inputClose
        position: absolute
        right: 0
        top: 12px
        font-size: 20px
        color: #ccc
    .ui-texterea
        min-height: 100px
        width: 100%
        -webkit-appearance: none
        border: 0 none